/* ROOT AND VARIABLES */

/*_*/

@font-face {
	font-display: block;
	font-family: "bootstrap-icons";
	src: url("bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6") format("woff2"),
	url("bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6") format("woff");
}

[data-theme=light] {
	--font-family: system-ui;
	--font-monospace: monospace;
	--font-size: 1rem;
	--font-weight: 400;
	--line-height: 1.5;

	--body-bg: #ffffff;
	--body-color: #222222;
	--body-color-rgb: 34, 34, 34;
	--body-secondary-bg: #f9f9f9;
	--body-secondary-color: #000000;
	--body-secondary-color-rgb: 0,0,0;
	--body-tertiary-bg: #e9ecef;
	--body-tertiary-color: #000000;
	--body-tertiary-color-rgb: 0,0,0;

	--mark-bg: #fae49e;
	--mark-color: #000000;
	--link-color: #0070ff;
	--link-hover-color: #0080ff;
	--link-decoration: underline;
	--heading-color: #000000;
	--code-color: #ff0000;

	--border-width: 1px;
	--border-style: solid;
	--border-color: #dedede;
	--border-radius: 0px;	
	--border-color-translucent: rgba(222, 226, 230, 0.175);

	--input-bg: #ffffff;
	--input-color: #222222;
	--input-border-color: #dedede;
	--input-focus-bg: #ffffff;
	--input-focus-color: #000000;
	--input-focus-border: #0073e5;

	--primary-rgb:;
	--secondary-rgb:;
	--success-rgb: 0, 128, 0;
    --danger-rgb: 255, 0, 0;
    --warning-rgb: 255, 215, 0;

    --primary-bg:;
    --secondary-bg:;
    --success-bg:;
    --danger-bg:;
    --warning-bg:;	

    --primary-color:;
    --secondary-color:;
    --success-color:;
    --danger-color:;
    --warning-color:;	

    --primary-border:;
    --secondary-border:;
    --success-border:;
    --danger-border:;
    --warning-border:;

    --primary-hover-bg:;
    --secondary-hover-bg:;
    --success-hover-bg:;
    --danger-hover-bg:;
    --warning-hover-bg:;

    --primary-hover-color:;
    --secondary-hover-color:;
    --success-hover-color:;
    --danger-hover-color:;
    --warning-hover-color:;

    --primary-hover-border:;
    --secondary-hover-border:;
    --success-hover-border:;
    --danger-hover-border:;
    --warning-hover-border:;

    --primary-active-bg:;
    --secondary-active-bg:;
    --success-active-bg:;
    --danger-active-bg:;
    --warning-active-bg:;

    --primary-active-color:;
    --secondary-active-color:;
    --success-active-color:;
    --danger-active-color:;
    --warning-active-color:;

    --primary-active-border:;
    --secondary-active-border:;
    --success-active-border:;
    --danger-active-border:;
    --warning-active-border:; 

    --primary-bg-subtle:;
    --secondary-bg-subtle:;
    --succes-bg-subtle:;
    --danger-bg-subtle:;
    --warning-bg-subtle:;

    --primary-border-subtle:;
    --secondary-border-subtle:;
    --succes-border-subtle:;
    --danger-border-subtle:;
    --warning-border-subtle:;

    --primary-bg-prominent:;
    --secondary-bg-prominent:;
    --success-bg-prominent:;
    --danger-bg-prominent:;
    --warning-bg-prominent:;
    
    --primary-color-prominent:;
    --secondary-color-prominent:;
    --success-color-prominent:;
    --danger-color-prominent:;
    --warning-color-prominent:;

	--table-border: #dedede;
	--table-bg: #ffffff;
	--table-color: #222222;
	--table-thead-bg: #eeeeee;
	--table-thead-color: #222222;
	--table-striped-bg: #fafafa;
	--table-striped-color: #222222;  
	--table-hover-bg: #c2c8cf;
	--table-hover-color: #000000;
	--table-active-bg: #f1f1f1;
	--table-active-color: #000000;
	
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--body-bg);
	color: var(--body-color);
	font-family: var(--font-family);
	line-height: var(--line-height);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0, 0);
}

/* TYPOGRAPHY */

hr {
	margin: 1rem 0;
	color: var(--border-color);
	border: 0;
	border-top: var(--border-width) var(--border-style);
	opacity: 0.25;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--heading-color);
}

h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1 {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2 {
		font-size: 2rem;
	}
}

h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3 {
		font-size: 1.75rem;
	}
}

h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4 {
		font-size: 1.5rem;
	}
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
	text-decoration: var(--link-decoration);
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:visited {
	color: var(--link-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

mark {
    padding: .1875em;
    color: var(--mark-color);
    background-color: var(--mark-bg);
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: .875em;
}

sub,
sup {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

abbr[title] {
	cursor: help;
	text-decoration: underline dotted;
	-webkit-text-decoration: underline dotted;	
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
}

blockquote {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}

blockquote>:last-child {
	margin-top: -1rem;
    margin-bottom: 0;
    font-size: .875em;
    color: rgba(var(--body-color-rgb), 0.5);
}

blockquote>:last-child::before {
    content: "— ";
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;	
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

pre,
code,
kbd,
samp {
	font-family: var(--font-monospace);
	font-size: 1em;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	font-size: 0.875em;
}
pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
}

code {
	font-size: 0.875em;
	color: var(--code-color);
	word-wrap: break-word;
}
a > code {
	color: inherit;
}

kbd {
	padding: 0.1875rem 0.375rem;
	font-size: 0.875em;
	color: var(--body-bg);
	background-color: var(--body-color);
	border-radius: 0.25rem;
}
kbd kbd {
	padding: 0;
	font-size: 1em;
}

figure {
	margin: 0 0 1rem;
}

figcaption {
	color: rgba(var(--body-color-rgb), 0.5);
}

img,
svg {
	vertical-align: middle;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}

table>:not(caption)>*>* {
	padding: .5rem .5rem;
}

caption {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: rgba(var(--body-color-rgb), 0.5);
	text-align: left;
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
	border: var(--border-width) var(--border-style) var(--table-border);
}

table > thead {
	background-color: var(--table-thead-bg);
	color: var(--table-thead-color);
	border-bottom: 2px var(--border-style) var(--table-border);
}

tbody>tr:hover>* {
    background-color: var(--table-hover-bg) !important;
    color: var(--table-hover-color) !important;
}

/* FORM ELEMENTS */

form br {
	content: "";
	display: block;
	width: 100%;
	margin-bottom: 2rem;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
}

fieldset {
	min-width: 0;
	padding: 1rem;
	margin: 0;
	border: var(--border-width) var(--border-style) var(--border-color);
}

legend {
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: calc(1.275rem + 0.3vw);
	line-height: inherit;
}
@media (min-width: 1200px) {
	legend {
		font-size: 1.5rem;
	}
}
legend + * {
	clear: left;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;	
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="file"], 
input[type="hidden"] {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--input-color);    
    background-color: var(--input-bg);
    background-clip: padding-box;
    border: var(--border-width) var(--border-style) var(--input-border-color);
    border-radius: var(--border-radius);
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus, 
input[type="hidden"]:focus {
    color: var(--input-focus-color);
    background-color: var(--input-focus-bg);
    border-color: var(--input-focus-border);
    outline: 0;
}

select {
	word-wrap: normal;
	text-transform: none;
	padding: .375rem 2.25rem .375rem .75rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000' %3e%3cpath d='M6.343 9.059L12 3.402l5.657 5.657 1.414-1.414L12 .573 4.929 7.644 6.343 9.059zM17.657 14.941l-5.657 5.657-5.657-5.657-1.414 1.414 7.071 7.071 7.071-7.071-1.414-1.414z' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 16px;
}

textarea {
	resize: vertical;
}

output {
	display: inline-block;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="file"] {
	overflow: hidden;
}

input[type="file"]::-webkit-file-upload-button {
	padding: 0.375rem 0.75rem;
	margin: -0.375rem -0.75rem;
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
	color: var(--input-color);
	background-color: var(--input-bg);
	pointer-events: none;
	border-color: inherit;
	border-style: var(--border-style);
	border-width: 0;
	border-inline-end-width: var(--border-width);
	border-radius: 0;
}

input[type="file"]::file-selector-button {
	padding: 0.375rem 0.75rem;
	margin: -0.375rem -0.75rem;
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
	color: var(--input-color);
	background-color: var(--input-bg);
	pointer-events: none;
	border-color: inherit;
	border-style: var(--border-style);
	border-width: 0;
	border-inline-end-width: var(--border-width);
	border-radius: 0;
}

input[type="file"]:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
	background-color: var(--body-secondary-bg);
	color: var(--body-secondary-color);
}

input[type="file"]:hover:not(:disabled):not([readonly])::file-selector-button {
	background-color: var(--body-secondary-bg);
	color: var(--body-secondary-color);
}

input[type="file"]:active:not(:disabled):not([readonly])::-webkit-file-upload-button {
	background-color: var(--body-tertiary-bg);
	color: var(--body-tertiary-color);
}

input[type="file"]:active:not(:disabled):not([readonly])::file-selector-button {
	background-color: var(--body-tertiary-bg);
	color: var(--body-tertiary-color);
}

input[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	height: 1rem;
	padding: 2px;
	background-color: var(--input-bg);	
	border: var(--border-width) var(--border-style) var(--input-border-color);
	border-radius: var(--border-radius);
}

input[type="range"]:focus {
	background-color: var(--input-focus-bg);
	border-color: var(--input-focus-border);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  	cursor: pointer;
	background-color: var(--input-color);
	border: none;
	border-radius: var(--border-radius);
	height: .7rem;
	width: .7rem;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  	cursor: pointer;
	background-color: var(--input-color);
	border: none;
	border-radius: var(--border-radius);
	height: .7rem;
	width: .7rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
	background-color: var(--input-color);
	border: none;
	outline: 0;
	box-shadow: none;
}

input[type="range"]:focus::-moz-range-thumb {
	background-color: var(--input-color);
	border: none;
	outline: 0;
	box-shadow: none;
}

input[type="range"]:disabled::-webkit-slider-thumb {	
	cursor: not-allowed;
}

input[type="range"]:disabled::-moz-range-thumb {	
	cursor: not-allowed;
}

input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;	
	background-color: var(--input-bg);  
	border: var(--border-width) var(--border-style) var(--input-border-color);
	border-radius: var(--border-radius);
	cursor: pointer;	
	line-height: 1.5;
	max-width: 3rem;
    height: auto;
    padding: .375rem;
}

input[type="color"]:focus {	
	background-color: var(--input-focus-bg);  
	border-color: var(--input-focus-border);
}

input[type="color"]::-webkit-color-swatch {
	height: calc(1.5 * 1em);
	border-radius: var(--border-radius);
	border: none;	
}

input[type="color"]::-moz-color-swatch {
	height: calc(1.5 * 1em);
	border-radius: var(--border-radius);
	border: none;
}

input[type="color"]:disabled {
	cursor: not-allowed;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	-webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    float: left;
	margin: 0 .6em 0 0;
    vertical-align: top;
    cursor: pointer;
	display: grid;
	place-content: center;
	width: 1.2em;
	height: 1.2em;
	font: inherit;	
	background-color: var(--input-bg);
	border: var(--border-width) var(--border-style) var(--input-border-color);
	border-radius: var(--border-radius);
}

input[type="checkbox"]:active,
input[type="radio"]:active {
	background-color: var(--input-focus-bg);
}

input[type="checkbox"]::before,
input[type="radio"]:before {	
	content: "";
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: #0073e5;
	border-color: #0073e5;
	color: #ffffff;
}

input[type="checkbox"]:checked::before {		
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -3px;
}

input[type="radio"]:checked::before {		
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border-radius: var(--border-radius);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {	
	cursor: not-allowed;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label{
	opacity: .5;
	cursor: not-allowed;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}

input[type="checkbox"]:indeterminate {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

input[type="checkbox"]:indeterminate::before {
    content: "";
    display: block;
    width: 10px;
    height: 2px; 
    background-color: #ffffff; 
    border-radius: var(--border-radius);
    -webkit-transform: none;
	-ms-transform: none;
	transform: none;
	margin-top: 0;
}

input:read-only:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="file"]):not([type="color"]):not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea:read-only {
	border-color: transparent;
	background-color: transparent;
}

input:read-only:focus:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="file"]):not([type="color"]):not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea:read-only:focus {
	border-color: transparent;
	background-color: transparent;
}

input:disabled,
button:disabled,
select:disabled,
optgroup:disabled,
textarea:disabled {
	opacity: .5;
	cursor: not-allowed;	
	border: var(--border-width) var(--border-style) var(--input-border-color) !important;
}

progress {
	vertical-align: baseline;    
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    position: relative;
    color: var(--input-color);
    background-color: var(--input-bg);
    border: var(--border-width) var(--border-style) var(--input-border-color);
    border-radius: var(--border-radius);    
}

progress::after {
	content: attr(value);
	position: absolute;
	top: -100%;
	right: 0;
}

progress[value] {  
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	width: 100%;
    background-color: var(--input-bg);
}

progress[value]::-webkit-progress-bar {
	width: 100%;
    background-color: var(--input-bg);
}

progress[value]::-webkit-progress-value {
	width: 100%;
	background-color: green;
}

progress[value]::-moz-progress-bar {
	width: 100%;
	background-color: green;	
}

progress:not([value]) {
  /* style rules */
}
progress:not([value])::-webkit-progress-bar {
  /* style rules */
}
progress:not([value])::-webkit-progress-value {
  /* style rules */
}

label[progress-value] {
	float: right;
}

label[progress-value]::after {
	content: attr(progress-value) '%';
}

meter {
	-webkit-appearance: meter;
	-moz-appearance: meter;
	appearance: meter; 
	vertical-align: baseline;    
	display: flex;
	width: 100%;
	height: 1rem;
	background: none;
	background-color: var(--input-bg);
	color: var(--input-color);
	border: var(--border-width) var(--border-style) var(--input-border-color);
	border-radius: var(--border-radius);
}

meter::-webkit-meter-bar {  
	height: 1rem;
	background: none;
	background-color: var(--input-bg);
	color: var(--input-color);
	border: var(--border-width) var(--border-style) var(--input-border-color);
	border-radius: var(--border-radius);
}

meter::-webkit-meter-even-less-good-value {
	background-color: red;
}

meter::-webkit-meter-suboptimum-value {
	background-color: yellow;
}

meter::-webkit-meter-optimum-value {
 	background-color: green;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar{
    background: none;
    background-color: red;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar{
    background: none; 
    background-color: yellow;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: none; 
    background-color: green;
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
	display: none !important;
}

::-webkit-calendar-picker-indicator {
 	opacity: 0;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
	display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

::file-selector-button {
	font: inherit;
	-webkit-appearance: button;
}

::-webkit-inner-spin-button {
	height: auto;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

[hidden] {
	display: none !important;
}

button,
[type="submit"],
[type="reset"],
[type="button"] {   
	-webkit-appearance: button;
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    padding: .375rem .75rem;    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;    
    border: var(--primary-border);
    border-radius: var(--border-radius);
    background-color: var(--primary-bg);   
}

button:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover {
	background-color: var(--primary-hover-bg);
 	border: var(--primary-hover-border);
 	color: var(--primary-hover-color);
}

button:active,
[type="submit"]:active,
[type="reset"]:active,
[type="button"]:active {
	background-color: var(--primary-active-bg);
 	border: var(--primary-active-border);
 	color: var(--primary-active-color);
}

button:focus:not(:focus-visible) {
	outline: 0;
}

button:disabled:hover,
button:disabled:active,
[type="button"]:disabled:hover,
[type="button"]:disabled:active,
[type="reset"]:disabled:hover,
[type="reset"]:disabled:active,
[type="submit"]:disabled:hover,
[type="submit"]:disabled:active {
	background-color: var(--primary-bg);
 	border: var(--primary-border);
 	color: var(--primary-color);
}

[role="button"] {
	cursor: pointer;
}

section {
	margin-bottom: 2rem;
}

iframe {
	border: 0;
}

template {
  	display: none;
}

details {
	display: block;
	width: 100%;
	color: var(--body-secondary-color);
	background: var(--body-secondary-bg);
	border: var(--border-width) var(--border-style) var(--border-color);
	margin-bottom: 1rem;
}

details > *:not(summary) {
	margin: 0;
    padding: .938rem;
    padding-left: calc(.938rem + .3rem + var(--font-size));    
}

details[open] > summary {	
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

details[open] > summary::before {
  	transform: rotate(90deg);
}

summary {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	list-style: none;		
	padding: .625rem .938rem;	
	color: var(--body-secondary-color);
}

summary::before {
	font-family: "bootstrap-icons";
	content: '\F285';
	margin-right: .3rem;
}

summary::-webkit-details-marker {
  	display: none;
}

/* ------------------------------------------------------------------------------------------ */

/* CLASSES */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline>li {
	display: inline-block;
}

.list-inline>li:not(:last-child) {
	margin-right: .5rem;
}

tbody>tr.active>* {
	background-color: var(--table-active-bg);
	color: var(--table-active-color);
}

tbody.striped>tr:not(.active):nth-of-type(odd)>* {
    background-color: var(--table-striped-bg);
    color: var(--table-striped-color);
}

input.is-valid:valid,
input.is-valid,
textarea.is-valid,
select.is-valid {
	border-color: green;
}

input.is-invalid:invalid,
input.is-invalid,
textarea.is-invalid,
select.is-invalid {
	border-color: red;
}

input.is-valid:valid:focus,
input.is-valid:focus,
textarea.is-valid:focus,
select.is-valid:focus {
	box-shadow: 0 0 0 .25rem rgba(var(--success-rgb),.25);
}

input.is-invalid:invalid:focus,
input.is-invalid:focus,
textarea.is-invalid:focus,
select.is-invalid:focus {
	box-shadow: 0 0 0 .25rem rgba(var(--danger-rgb),.25);
}

.stacked-details {
	margin-bottom: 1rem;
}

.stacked-details details {
	margin-bottom: 0;
}

.stacked-details details:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.stacked-details details:not(:first-of-type) {
    border-top: 0;
}

.stacked-details details:last-of-type {
	border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);  
}





.offcanvas,.offcanvas-lg,.offcanvas-md,.offcanvas-sm,.offcanvas-xl,.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5
}

@media (max-width: 575.98px) {
    .offcanvas-sm {
        position:fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--bs-offcanvas-color);
        visibility: hidden;
        background-color: var(--bs-offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        transition: var(--bs-offcanvas-transition)
    }
}

@media (max-width: 575.98px) and (prefers-reduced-motion:reduce) {
    .offcanvas-sm {
        transition:none
    }
}

@media (max-width: 575.98px) {
    .offcanvas-sm.offcanvas-start {
        top:0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%)
    }

    .offcanvas-sm.offcanvas-end {
        top: 0;
        right: 0;
        width: var(--bs-offcanvas-width);
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%)
    }

    .offcanvas-sm.offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(-100%)
    }

    .offcanvas-sm.offcanvas-bottom {
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(100%)
    }

    .offcanvas-sm.show:not(.hiding),.offcanvas-sm.showing {
        transform: none
    }

    .offcanvas-sm.hiding,.offcanvas-sm.show,.offcanvas-sm.showing {
        visibility: visible
    }
}

@media (min-width: 576px) {
    .offcanvas-sm {
        --bs-offcanvas-height:auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-sm .offcanvas-header {
        display: none
    }

    .offcanvas-sm .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }
}

@media (max-width: 767.98px) {
    .offcanvas-md {
        position:fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--bs-offcanvas-color);
        visibility: hidden;
        background-color: var(--bs-offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        transition: var(--bs-offcanvas-transition)
    }
}

@media (max-width: 767.98px) and (prefers-reduced-motion:reduce) {
    .offcanvas-md {
        transition:none
    }
}

@media (max-width: 767.98px) {
    .offcanvas-md.offcanvas-start {
        top:0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%)
    }

    .offcanvas-md.offcanvas-end {
        top: 0;
        right: 0;
        width: var(--bs-offcanvas-width);
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%)
    }

    .offcanvas-md.offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(-100%)
    }

    .offcanvas-md.offcanvas-bottom {
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(100%)
    }

    .offcanvas-md.show:not(.hiding),.offcanvas-md.showing {
        transform: none
    }

    .offcanvas-md.hiding,.offcanvas-md.show,.offcanvas-md.showing {
        visibility: visible
    }
}

@media (min-width: 768px) {
    .offcanvas-md {
        --bs-offcanvas-height:auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-md .offcanvas-header {
        display: none
    }

    .offcanvas-md .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }
}

@media (max-width: 991.98px) {
    .offcanvas-lg {
        position:fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--bs-offcanvas-color);
        visibility: hidden;
        background-color: var(--bs-offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        transition: var(--bs-offcanvas-transition)
    }
}

@media (max-width: 991.98px) and (prefers-reduced-motion:reduce) {
    .offcanvas-lg {
        transition:none
    }
}

@media (max-width: 991.98px) {
    .offcanvas-lg.offcanvas-start {
        top:0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%)
    }

    .offcanvas-lg.offcanvas-end {
        top: 0;
        right: 0;
        width: var(--bs-offcanvas-width);
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%)
    }

    .offcanvas-lg.offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(-100%)
    }

    .offcanvas-lg.offcanvas-bottom {
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(100%)
    }

    .offcanvas-lg.show:not(.hiding),.offcanvas-lg.showing {
        transform: none
    }

    .offcanvas-lg.hiding,.offcanvas-lg.show,.offcanvas-lg.showing {
        visibility: visible
    }
}

@media (min-width: 992px) {
    .offcanvas-lg {
        --bs-offcanvas-height:auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-lg .offcanvas-header {
        display: none
    }

    .offcanvas-lg .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }
}

@media (max-width: 1199.98px) {
    .offcanvas-xl {
        position:fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--bs-offcanvas-color);
        visibility: hidden;
        background-color: var(--bs-offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        transition: var(--bs-offcanvas-transition)
    }
}

@media (max-width: 1199.98px) and (prefers-reduced-motion:reduce) {
    .offcanvas-xl {
        transition:none
    }
}

@media (max-width: 1199.98px) {
    .offcanvas-xl.offcanvas-start {
        top:0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%)
    }

    .offcanvas-xl.offcanvas-end {
        top: 0;
        right: 0;
        width: var(--bs-offcanvas-width);
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%)
    }

    .offcanvas-xl.offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(-100%)
    }

    .offcanvas-xl.offcanvas-bottom {
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(100%)
    }

    .offcanvas-xl.show:not(.hiding),.offcanvas-xl.showing {
        transform: none
    }

    .offcanvas-xl.hiding,.offcanvas-xl.show,.offcanvas-xl.showing {
        visibility: visible
    }
}

@media (min-width: 1200px) {
    .offcanvas-xl {
        --bs-offcanvas-height:auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-xl .offcanvas-header {
        display: none
    }

    .offcanvas-xl .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }
}

@media (max-width: 1399.98px) {
    .offcanvas-xxl {
        position:fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--bs-offcanvas-color);
        visibility: hidden;
        background-color: var(--bs-offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        transition: var(--bs-offcanvas-transition)
    }
}

@media (max-width: 1399.98px) and (prefers-reduced-motion:reduce) {
    .offcanvas-xxl {
        transition:none
    }
}

@media (max-width: 1399.98px) {
    .offcanvas-xxl.offcanvas-start {
        top:0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%)
    }

    .offcanvas-xxl.offcanvas-end {
        top: 0;
        right: 0;
        width: var(--bs-offcanvas-width);
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%)
    }

    .offcanvas-xxl.offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(-100%)
    }

    .offcanvas-xxl.offcanvas-bottom {
        right: 0;
        left: 0;
        height: var(--bs-offcanvas-height);
        max-height: 100%;
        border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateY(100%)
    }

    .offcanvas-xxl.show:not(.hiding),.offcanvas-xxl.showing {
        transform: none
    }

    .offcanvas-xxl.hiding,.offcanvas-xxl.show,.offcanvas-xxl.showing {
        visibility: visible
    }
}

@media (min-width: 1400px) {
    .offcanvas-xxl {
        --bs-offcanvas-height:auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-xxl .offcanvas-header {
        display: none
    }

    .offcanvas-xxl .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition)
}

@media (prefers-reduced-motion:reduce) {
    .offcanvas {
        transition: none
    }
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%)
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%)
}

.offcanvas.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%)
}

.offcanvas.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%)
}

.offcanvas.show:not(.hiding),.offcanvas.showing {
    transform: none
}

.offcanvas.hiding,.offcanvas.show,.offcanvas.showing {
    visibility: visible
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.offcanvas-backdrop.fade {
    opacity: 0
}

.offcanvas-backdrop.show {
    opacity: .5
}

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x)
}

.offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * .5) calc(var(--bs-offcanvas-padding-x) * .5);
    margin: calc(-.5 * var(--bs-offcanvas-padding-y)) calc(-.5 * var(--bs-offcanvas-padding-x)) calc(-.5 * var(--bs-offcanvas-padding-y)) auto
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: var(--bs-offcanvas-title-line-height)
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto
}


